@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

@mixin reset-box {
  margin: 0;
  padding: 0;
}

@mixin no-list-style {
  list-style: none;
}

@mixin primary-font {
  font-family: 'Quicksand', Arial, Helvetica, sans-serif;
}

:root {
  --app-max-width: 840px;
}

body {
  @include reset-box;
  @include primary-font;

  color: rgb(212, 212, 212);

  background-color: hsl(0, 0%, 41%);
}

.app {
  @include reset-box;
  box-sizing: border-box;

  max-width: var(--app-max-width);
  min-height: 100vh;

  margin-left: auto;
  margin-right: auto;

  padding-top: 2rem;

  background-color: hsl(0, 0%, 41%);
}


/* home */
.home {
  width: 100%;

  padding-top: 1rem;
  padding-bottom: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: hsl(0, 0%, 25%);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

  &--title {
    @include reset-box;
    font-size: 3rem;
  }
}

.pairs-list {
  border: solid 1px white;

  &__title-box {
    @include reset-box;
    width: 100%;
    height: 2.5rem;
    background-color: hsl(0, 0%, 63%);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    @include reset-box;
  
    text-align: center;
    font-size: 1.25rem;

    color: white;
  }

  &__list {
    @include reset-box;
    @include no-list-style;

    padding: 1rem;
  }

  &__option {
    @include primary-font;
    font-size: 1.25rem;
  
    margin: 0.5rem 0;
    padding: 0.75rem;
  
    width: 100%;
  
    border-radius: 0.5rem;
  }
}

.play-game {
  &__prompt {
    @include reset-box;

    font-size: 1.125rem;
    line-height: 1.5rem;
  }

  &__instruction {
    @include reset-box;
  }

  &__lyrics-source {
    @include reset-box;
  }

  &__active-artists {
    @include reset-box;
    font-size: 1.5rem;
    line-height: 2rem;
  }

  &__link {
    width: 100%;

    display: flex;
    justify-content: center;

    text-decoration: none;

    &-button {  
      @include primary-font;
      
      margin: 1rem auto;
      padding: 1rem 4rem;
    
      border-radius: 1rem;
    
      font-size: 1.25rem;
    
      &:disabled {
        background-color: grey;
        color: rgb(51, 51, 51);
      }
    }
  }
}
